body{
    background-color: lightblue;
}

h1{
	font-family: "Times New Roman";
	font-size: 2rem;
	font-weight:bold;
	color: navy;
	margin-left: 20px;
	
}

p{
	font-family: Arial, sans-serif;
	font-size: 1rem;
	font-style: italic;
	color: black;
	
}

img{
	width: auto;
	height: auto;
}



.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.menu{
	background: #889;
	
	li{
		background: #889;
		
		&hover{
			background: lighten(#889, 10%);
		}
		
	}
	
	a{
		color: #fff;
	}
}
